* {
 padding: 0;
 margin: 0;
 font-family: 'Poppins', sans-serif;
}
.hero{
    display: flex;
    height: 700px;
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.hero-content {
    width: 700px;
}
.title{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
   
}
.hero-content p{
    color: #fff;
    font-size: 18px;
}
.donate-btn{
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    background-color: #FF5959;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
}
.donate-area{
    margin: 70px 300px;
}

.donate-area-title{
    text-align: center;
    color: #121212;
}
.donate-text{
    margin-top: 30px;
    text-align: center;
    color: #707070;
}
.donate-amount{
    display: flex;
    justify-content: center;
    margin: 3% 10%;
}
.amount{
    width: 20%;
    background-color: #fafafa;
    margin: 20px;
    text-align: center;
    color: #707070;
    font-size: 32px;
    font-weight: 600;
    padding: 50px;
    border-radius: 5px;
}
.amount-bordered{
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}
.donate-form{
    display: flex;
    justify-content: center;
    text-align: center;
}
.donate-form-field {
    width: 700px;
}

.amount-field{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #dadada;
    outline: 0;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #707070;
}
.donate-plan-items{
    display: flex;
    justify-content: center;
    margin: 2% 5%;
}
.items{
    width: 30%;
    margin: 30px;
    padding: 40px 30px;
    border-radius: 5px;
}
.title-part{
font-size: 24px;
color: #121212;
padding: 20px 0;

}
.text-part{
    font-size: 16px;
    color: #707070;
}
#plan-one{
    background-color: rgba(79,157,166, 10%);
}
#plan-two{
    background-color: rgba(255,89,89, 10%);
}
#plan-three{
    background-color: #FFF4D6;
}
.contribute-area{
    display: flex;
    justify-content: center;
    margin: 2% 5%;
}
.details{
    width: 30%;
    margin: 30px;
    padding: 40px 30px;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 7px 8px 30px rgb(110 101 101 / 0%);
}
.details img{
    width: 100%;
}
.subsribe-wrapper{
    margin: 2% 5%;
    display: flex;
    justify-content: center;
}
.subscribe-form{
    width: 700px;
    background: #FFF4D6;
    padding: 80px 0px;
    text-align: center;
}
.subscribe-input{
    width: 50%;
    border: none;
    padding: 10px;
    background-color: #AA9F9F;
    outline: 0;
    font-size: 16px;
    color: #fff;
}
::placeholder {
    color: #ebe7e7;
  }
.subscribe-submit{
    background-color: #FF5959;
    border: none;
    padding: 10px 20px;
    margin: 0px -5px;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
}
.footer-area{
    margin-top: 60px;
    background-color: #121212;
    text-align: center;
    padding: 50px;
}
.footer-area h1{
color: #FF5959
}
.footer-area p{
    color: #fff;
}